/* common shared style */
body{
font-family: 'Open Sans', sans-serif;
}
.text-primary{
color: #FD6E0A;;
}
.secton-title{
color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
/* nav related style */
nav{
display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0 200px;
}
.nav-title{
color:#181818;
font-size: 45px;
font-weight: 800;
}
nav> ul{
display: flex;
align-items: center;
}
nav li{
list-style: none;
margin-right: 50px;
}
nav a{
text-decoration: none;
}
.button-primary{
border-radius: 5px;
background: #FD6E0A;
border: 0;
font-size: 20px;
font-weight: 700;
color: white;
padding: 15px 35px;
}
/*  header related style */
.header{
background-color: #FFF8F3;
background-image: url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;
}
.baner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baner-content{
    max-width: 500px;
}
.baner-greeting{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 0;
}
.baner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.baner-pragrpe{
    font-size: 16px;
    font-weight: 400px;
}
.baner.profil-img{
    width: 584px;
height: 676px;
}
/* man section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section style */
.abot{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.secion-pragrape{
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-descreption{
    font-weight: 800px;
}
#secion-pragrape{   
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    padding: 30px 150px;
 }

/* skil related style */

.skill-container{
    display:flex;
    gap: 24px;
}
.skil{
padding: 30px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skil-pragrape{
    color: #757575;
}
/* resme related style */
.resume-colam-title{
color: #474747;
font-size: 30px;
font-weight: 700;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 30px;
}
.resume-item-title{
margin-bottom: 5px;
color: #474747;
font-size: 25px;
font-weight: 700;
}
.resume-itme-instetude{
    margin-top: 0px;
    margin-bottom: 10px;
    color:#757575;
    font-size: 20px;
    font-weight: 600;
} 
.resume-container,.resume-item-pragrape{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
padding: 0 60px 0 0;
}
.resume-container hr{
margin: 30px 0;
border-top: 1px solid #D1D1D1
}
.resume-button{
    text-align: center;
    margin-top: 50px;
}